.banner {
  background-color: #ff4d6a;
  color: white; 
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.category a {
  display: inline-block; 
  text-decoration: none; 
}

.category button, .category a {
  background: none; 
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0); 
  padding: 10px;
  cursor: pointer; 
  transition: opacity 0.5s; 
  background-color: #ff4d6a;
}

.category button:hover, .category a:hover {
  background-color: white; 
  color: #ff4d6a;
  opacity: 0.8; 
}

.offer {
  font-size: 14px; 
}

.banner button{
padding: 10px;
background-color: #ff4d6a;
}


