.banner {
  background-color: #ff4d6a; /* Pink background */
  color: white; /* White text */
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.category a {
  display: inline-block; /* Ensures the anchor tag respects padding and border */
  text-decoration: none; /* Remove default underline */
}

.category button, .category a {
  background: none; /* Transparent background */
  border: 2px solid rgb(0, 0, 0); /* White border for buttons */
  color: rgb(0, 0, 0); /* White text for buttons */
  padding: 10px;
  cursor: pointer; /* Cursor changes to pointer when hovering over the button */
  transition: opacity 0.5s; /* Add transition for opacity */
  background-color: #ff4d6a;
}

.category button:hover, .category a:hover {
  background-color: white; /* Button background turns white on hover */
  color: #ff4d6a; /* Text color changes to pink on hover */
  opacity: 0.8; /* Reduce opacity on hover */
}

.offer {
  font-size: 14px; /* Larger font size for the offer */
}

.banner button{
padding: 10px;
background-color: #ff4d6a;
}


