.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  background-color: #eeeeee;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu-section h4 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
   color: black; /* Remove default margin */
}

.menu-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-section li {
  margin: 5px 0; /* Adjust vertical spacing between list items */
}

.rightsFooter{
  height: 6vh;
  background-color: #dddddd;
}
