.Container {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 30px;
  background-color: #f0f0f0;
}

.Container h4 {
  margin: 0px;
  padding: 5px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.Container img {
  width: 20px; /* Adjust the width as needed */
}
